*{
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
/* header & banner */
.header-banner{
    background-image: url(/images/banner/banner2.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: right;
    height: 775px;
    width: 1345px
}
.header-banner .banner-elements{
    position: absolute;
    width: 525px;
    height: 188px;
    right: 37px;
    top: 256px;
    text-align: right;
    padding-right: 120px;
}
.banner-elements h1{
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    color: rgb(0, 0, 0);
}
.banner-elements p{
    color: rgb(0, 0, 0);
    font-size: 15px;
}
.primary-btn{
    margin-top: 20px;
    background: orangered;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px;
    font-size: 23px;
    font-weight: 600;
}

/* Failure Section */
.previous-year{
    
    background-image: url(/images/person.png);
    background-repeat: no-repeat;
    height: 765px;
    width: 1238px;
    margin: 40px 100px;

 }
 /* Author text  styles*/
 .failure-text{
    padding-right: 120px;
    padding-left: 100px;
     text-align: left;
     width: 180px;
     height: 94px;
     right: 185px;
     top: 1026px;
     position: absolute;
     margin-right: 100px;
 }
 
 .failure-text h2{
     width: 430px;
     font-weight: 800;
     font-size: 55px;
 }
 .failure-text p{
     margin-top: 30px;
     width: 451px;
     height: 70px;
     font-weight: 400;
 }
 .life-topic{
     width: 430px;
     padding: 10px;
     font-weight: 400;
 }
 .icon{
     color: #16D887;
 }

/* Plan Section */
.My-plan{
    margin: 15px;
    padding-right: 90px;
    padding-left: 90px;
    width: 1080px;
}
.My-plan h1{
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}
.total-plan{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.plan{
    width: 25%;
    text-align: center;
}
.plan h2{
    font-size: 22px;
    font-weight: 700;
    padding: 10px 0;
}
.plan img{
    height: 100%;
    width: 60px;
}
.plan h4{
    color: #758283;
    font-weight: 500;
}

/* Card Banner */
.second-banner{
    background: url(/images/watch.png), url(/images/gradient3.png);
    background-blend-mode: overlay;
    background-size: cover;
    width: 77%;
    height: 202px;
    padding: 18px;
    margin: 120px;
    border-radius: 5px;
}
.banner-data{
    text-align: left;
    transform: translate(5%,42%);
}
.second-banner h1{
    width: 400px;
    color: white;
    font-size: 35px;
}
.banner-data button{
    color: orangered;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px;
    font-size: 23px;
    font-weight: 600;
}
/* Added Element */
.added-elements{
    background: url(/images/banner.jpg);
    background-color: rgba(238, 125, 83, 0.699);
    background-blend-mode: hard-light;
    background-size: cover;
    width: 80%;
    height: 100vh;
    text-align: left;
    margin-right: 120px;
    margin-left: 120px;
    margin-bottom: 30px;
}
.element{
    transform: translate(5%,80%);
}
.element h1{
    width: 420px;
    color: orangered;
    font-size: 30px;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.element p{
    width: 720px;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    padding: 20px 0px;
}
.btn-added{
    width: 520px;
    display: flex;
    justify-items: flex-start;
    align-items: left;
}
.Secondary-btn{
    margin-top: 20px;
    background: rgb(243, 243, 243);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    padding: 12px;
    font-size: 23px;
    font-weight: 600;
    gap: 20px;
}
/* footer-section */
.footer-section{
    padding-left: 130px;
    padding-right: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: #fff;
    height: 350px;
}
/* footer Future Section */
.footer-section .future{
    width: 60%;
    
}
.future h1{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}
.future p{
    width: 70%;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
}
.share-icon img{
    gap: 5px;
    height: 100%;
    width: 30px;
}
/* Footer Subscribe Section */
.footer-section .subscribe{
    text-align:left;
    width: 30%;
    height: 175px;
    
}
.subscribe h3{
    margin-left: 15px;
    font-size: 20px;
}
.subscribe input{
    width: 270px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 15px;
    color: #fff;
    font-size: 18px;
    padding: 7px;
}
.subscribe button{
    color: orangered;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px;
    font-size: 23px;
    font-weight: 600;
    margin: 15px;
}
